

.Menu{
    width: 150px;
    height: 350px; 

    position: absolute;
    margin-bottom: auto;
    margin-top: auto;
    top: 0;
    bottom: 0;
}
.kenar{
    width: 50px;
    height: 350px;
    border-radius: 40px;
    background-color: white;
    box-shadow: 5px 5px 5px grey
}
.button {
    background-color: white;
    border: none;
    color: #1264c9;
    padding: 20px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 5px;
    cursor: pointer;
    border-radius: 50%;
    font-weight: 600; 
    margin-left: 70px;
    margin-top: 20px;
 

  }
  /* .button01 {
      border-radius: 50%;
      flex-direction: column;
    } */
    .button:hover {
        background-color: #1264c9;
        color: white;
        
      }

      .kenar .ipucuMetniSag {
        visibility: hidden;
        font-size: 12px;
        width: 140px;
        background-color: black;
        color: #ffffff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        top: 0px;
        left: 155px;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 1s;
    }
    
    .kenar:hover .ipucuMetniSag {
        visibility: visible;
        opacity: 1;
    }
    
    .kenar .ipucuMetniSag::after {
        content: " ";
        position: absolute;
        top: 50%;
        left: -10px; 
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent black transparent transparent;
    }